# compiled output
/dist
/node_modules

# Logs
logs
*.log
npm-debug.log*

# Env
.env
.env.local
.env.*.local

# IDE
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.idea

# OS
.DS_Store

# Testing
/coverage
/.nyc_output
